.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/xcshareddata/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Generated shader file
Sources/Upscaling/Shaders/SharpenShader.swift
